{% extends 'account/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
    {% trans "Change Password" %}
{% endblock %}
{% block hero %}
    <h2 class="title">{% trans "Change Password" %}</h2>
    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control">
            <button class="button is-primary" type="submit">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
