{% extends 'account/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
    {% trans "Change Password" %}
{% endblock %}
{% block hero %}
    <h1 class="title">
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    </h1>
    {% if token_fail %}
        <p class="is-danger">
            {% blocktrans %}
	The password reset link was invalid. Perhaps it has already been used?  Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.
	{% endblocktrans %}
        </p>
    {% else %}
        {% if form %}
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="control">
                    <button class="button is-primary" type="submit">{% trans "Change Password" %}</button>
                </div>
            </form>
        {% else %}
            <p class="is-primary">{% trans "Your password is now changed." %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
