{% extends 'account/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
    {% trans "Password Reset" %}
{% endblock %}
{% block hero %}
    <h2 class="title">{% trans "Forgot your password?" %}</h2>
    <form method="post"
          action="{% url 'account_reset_password' %}"
          class="password_reset">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="control">
            <button class="button is-primary" type="submit">{% trans "Reset Password" %}</button>
        </div>
    </form>
{% endblock %}
